<div class="jumbotron  bg-image" style="background-image: url('/assets/about_image.jpg'); background-size: cover; width: 100%; height: 800px; margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h5 class="bg-secondary text-center py-1" style="opacity: 0.8;">
          本サイトは、スニーカーカルチャーの発展と普及を目指して運用をスタートしました。<br>
          趣味やライフスタイルとしてスニーカーを楽しんでいる人も多く、<br>
          足の保護だけではなく、アート性やデザインとしても楽しめる存在です。<br>
          そんな魅力をSNSを活用して皆さまがコミュニケーションや情報収集ができる場を<br>
          提供できたら素敵だと思ったのが、このサイトを作った理由です。<br>
          <br>
          これからスニーカーを買いたいと思っている人や、スニーカーをコレクションしている人と繋がり、<br>
          有益な情報が得られると幸いです。<br>
          <br>
          スニーカーで皆様の人生が華やかに彩られることを願って運用していきたいと考えます。<br>
        </h5>
      </div>
    </div>
  </div>
</div>