
<div class="container">
  <div class="row">
    <div class="col-sm-0 p-0 mx-auto">
      <%= image_tag "Top_image1.jpg", with:500, height: 500 %>
    </div>
    <div class="col-8 p-0 mx-auto shadow main-visual text-center">
        <div class="main-visual-content text-dark">
          ようこそ、Sneaker Socialへ！<br />
          お気に入りのスニーカの情報投稿サイトです<br />
          気になるスニーカーをチェックしたり
          自慢のコレクションを投稿できます
        </div>
    </div>